<!DOCTYPE html>
<html lang="en">


        {% load static %}

        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {{ flatpage.content }}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>

